<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <title>CouponSit</title>

    <style type="text/css">
      body {
        background-color: #f0f0f0;
      }

      .search {
        width: 50%;
        position: relative;
        display: flex;
        margin: 0 auto;
        /*margin-left: 21%;*/
      }

      .searchTerm {
        width: 100%;
        border: 3px solid #00b4cc;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9dbfaf;
      }

      .searchTerm:focus {
        color: #00b4cc;
      }

      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00b4cc;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }

      .carousel-item {
        width: 56vw !important;
        height: 45vh !important;
      }

      .allShop__card .row {
        height: 330px;
        overflow-x: auto;
        /* flex-wrap: nowrap; */
      }

      .single__shop {
        border: 1px solid gainsboro;
        height: 100px;
        width: 262px;
        display: inline-block;
      }
      .single__shop:hover {
        box-shadow: -1px -1px 10px 5px rgba(0, 0, 0, 0.2);
      }
      .single__shop a:hover {
        text-decoration: none;
      }

      .single__shop__details {
        border-left: 1px solid gainsboro;
        width: 150px;
        height: 100px;
        color: black;
      }

      .modal1 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        border: none;
        z-index: 10;
        background-color: white;
        width: 550px;
        max-width: 80%;
      }
      .modal1.active {
        transform: translate(-50%, -50%) scale(1);
      }
      .modal1-header {
        padding: 10px 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }
      .modal1-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
      }
      .modal1-body {
        padding: 10px 15px;
      }
      .modal1-footer{
        background-color: #EFF1F5;
      }
      #overlay {
        position: fixed;
        opacity: 0;
        transition: 200ms ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
      }
      #overlay.active {
        opacity: 1;
        pointer-events: all;
      }
      .carousel-item{
        width: 100vw;
        height: 45vh;
        
      }
      .carousel-item img{
        object-fit: scale-down;
        
      }
      .icons{
        top:70%;
        left:0;
        transform: translateY(0%);
        position: fixed;
        z-index: 1000;
      }
      .icons ul{
        padding: initial;
      }
      .icons ul li{
        height: 40px;
        width: 40px;
        list-style-type: none;
        padding-left: 12px;
        padding-top: 6px;
        margin-top: 5px;
        color:#fff;
        
      }
      .facebook{
        background: #3b5998;
      }
      .youtube{
        background: #ff0000;
      }
      .instagram{
        background-image: linear-gradient(140deg,#F7BD3B , #F5003D,#2038DE);
      }
      .twitter{
        background: #55acee;
      }
      .icons ul li:hover{
        padding-left: 20px;
        width: 60px;
        transition:  1s ease-in;
      }

      /* best coupon card height fixing starts here*/
      .card-height{
        height: 50px;
      }
      .car-img-size{
        height: 30px;
        width: 45px;
      }
      /* best coupon card height fixing ends here*/

      /* Mega navigation Item design starts here */
      
      .mega-navItem-background{
        height: 98px;
      }


      /* sticky bar */

      .ct-socials {
  top: 25%;
  list-style: none;
  z-index: 10;
  -webkit-transition: right 0.25s fade-in;
  transition: right 0.25s fade-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sticky-container {
  /*background-color: #333;*/
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -119px;
  /*top:130px;*/
  width: 200px;
  z-index:1000;
}

@media only screen and (max-width: 768px) {
  .ct-socials {
    top: 60%;
     overflow:hidden;
     display:none;
  }
  .sticky-container {
    position: absolute;
    overflow:hidden;
    right: 2px;
    display:none;
    
  }
  
  .icon-bar {
            display: block;
  }
  
 
}

.face {
  background-color: #3b5998;
}

.tweet {
  background-color: #00aced;
}
.linked {
  background-color: #007bb6;
}

.insta {
  background-color: #c32aa3;
}

.sticky li {
      z-index:2000;
  border-bottom-left-radius: 0.9rem;
  border-top-left-radius: 0.2rem;
  list-style-type: none;

  color: #ffffff;

  height: 43px;
  padding: 0px;
  margin: 1px 1px 1px 1px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: #ffffff;
  -webkit-filter: grayscale(30%);
}

.sticky li:hover {
  margin-left: -115px;
  /*-webkit-transform: translateX(-115px);
		-moz-transform: translateX(-115px);
		-o-transform: translateX(-115px);
		-ms-transform: translateX(-115px);
		transform:translateX(-115px);*/
  /*background-color: #8e44ad;*/
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.sticky li img {
  float: left;
  margin: 5px 5px;
  margin-right: 10px;
}

.sticky li p {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 43px;
}

.float-sm {
}

.fl-fl {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font: normal normal 10px inherit;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-top-left-radius: 6px;
}

.fl-fl img {
  margin-right: 8px;
  margin-left: 5px;
  padding: 0rem 0.01rem;
}


.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-rs {
  top: 270px;
}

.float-ig {
  top: 325px;
}


      /* stick end */
      
      @media only screen and (max-width: 600px) {
        #navbarSupportedContent {
          height: 100%;
          z-index: 0.3;
        }
        .search {
          padding-top: 15px;
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
    </style>

    

    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>

    <title>CouponSit</title>

    <style type="text/css">
      body {
        background-color: #f0f0f0;
      }

      .search {
        width: 50%;
        position: relative;
        display: flex;
        margin: 0 auto;
        /*margin-left: 21%;*/
      }

      .searchTerm {
        width: 100%;
        border: 3px solid #00b4cc;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9dbfaf;
      }

      .searchTerm:focus {
        color: #00b4cc;
      }

      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00b4cc;
        background: #00b4cc;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
      .categories {
        height: 340px;
        width: 290px;
      }
      .categories .scrollable {
        overflow-y: auto;
        max-height: 280px;
      }
      .company_Pride {
        width: 290px;
      }

      .similar_Stores {
        width: 290px;
      }

      .checked {
        color: orange;
      }

      @media only screen and (max-width: 600px) {
        #navbarSupportedContent {
          height: 100%;
          z-index: 0.3;
        }
        .search {
          padding-top: 15px;
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }
      }
    </style> -->
  </head>
  <body>
    <!-- navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light pl-10 pr-10">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a id="logoId" class="navbar-brand" href="/"
        ><h2 class="w-100">
          <dt>Coupon<samp class="text-info">Sit</samp></dt>
        </h2></a
      >
      <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Stores
            </a>
            <div
              class="dropdown-menu border-0"
              aria-labelledby="navbarDropdownMenuLink"
              id="dropdown-menu-id-nextPage"
              style="width: 820px;"
            >

            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Catagories
            </a>
            <div
              id="dropdownCategory"
              class="dropdown-menu border-0"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <!-- <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 4</a>
              <a class="dropdown-item" href="#">Link 5</a> -->
              
            </div>
          </li>
          <li class="nav-item" id="loginid">
            <a class="nav-link" href="#">Exclusive Coupon</a>
          </li>
        </ul>

        <!-- searchbar start -->
        <div class="search">
          <input
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
            style="text-align: center"
          />
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </nav>
    <!-- navbar end-->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card border-0" style="border-radius: 0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img
                    src="<%= shop[0].image %>"
                    class="w-50 mx-auto d-block"
                  />
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-8">
                      <h5><%= shop[0].name %> Coupon Codes February 2020</h5>
                      <p>
                        <%= shop[0].coupon.length %> “Company” Offers Available
                      </p>
                    </div>

                    <div class="col-md-4">
                      <div class="float-right">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                      <div class="float-right">
                        <samp>4.3</samp><samp>(3699 Reviews)</samp>
                      </div>
                    </div>
                  </div>

                  <hr class="border-3" />

                  <div class="row">
                    <div class="">
                      <samp
                        class="mr-3 bg-info text-white pt-1 pr-2 pb-1 pl-2 rounded"
                        >All()</samp
                      >
                      <samp class="mr-3 bg-light pt-1 pr-2 pb-1 pl-2 rounded"
                        >Codes(<%=shop[0].coupon.length%>)</samp
                      >
                      <samp class="mr-3 bg-light pt-1 pr-2 pb-1 pl-2 rounded"
                        >Deals(3)</samp
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card categories border-0">
            <div class="card-body">
              <h5 class="mb-3">Filter By Categories</h5>
              <div class="scrollable">
                <input
                  type="checkbox"
                  id="beauty"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty">Beauty</label>
                <br />
                <input
                  type="checkbox"
                  id="babycare"
                  name="beauty"
                  value="beauty"
                />
                <label for="babycare">Baby Care</label>
                <br />
                <input
                  type="checkbox"
                  id="bags&access"
                  name="beauty"
                  value="beauty"
                />
                <label for="bags&access">Bags & Accessories</label>
                <br />
                <input
                  type="checkbox"
                  id="appliance"
                  name="beauty"
                  value="beauty"
                />
                <label for="appliance">Appliance</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
                <br />
                <input
                  type="checkbox"
                  id="beauty&well"
                  name="beauty"
                  value="beauty"
                />
                <label for="beauty&well">Beauty & Wellness Products</label>
              </div>
            </div>
          </div>

          <div class="card company_Pride mt-4 border-0">
            <div class="card-body">
              <h5 style="font-weight: bolder">Why We Love "Company"</h5>
              <div class="mt-4">
                <i class="fas fa-truck" style="display: block"
                  ><span class="ml-2">Free Shipping</span></i
                >
                <i class="fas fa-search-dollar mt-4" style="display: block">
                  <span class="ml-2">Best Price</span></i
                >
                <i class="fas fa-shipping-fast mt-4" style="display: block"
                  ><span class="ml-2">Fast Delivery</span></i
                >
                <i class="fas fa-thumbs-up mt-4"
                  ><span class="ml-2">Hassle Free Returns</span></i
                >
              </div>
            </div>
          </div>

          <div class="card similar_Stores mt-4 border-0">
            <div class="card-body">
              <h5 style="font-weight: bolder">Similar Stores</h5>
              <div class="ml-2 mt-3">
                <p><a href="#">Souq</a></p>
                <p><a href="#">Awok</a></p>
                <p><a href="#">Mena Kart</a></p>
                <p><a href="#">Let's Tango</a></p>
                <p><a href="#">Ali Express</a></p>
              </div>
            </div>
          </div>

          <div class="card similar_Stores mt-4 border-0">
            <div class="card-body">
              <h5 style="font-weight: bolder">Popular Stores</h5>
              <div class="ml-2 mt-3">
                <p><a href="#">Souq</a></p>
                <p><a href="#">Awok</a></p>
                <p><a href="#">Mena Kart</a></p>
                <p><a href="#">Let's Tango</a></p>
                <p><a href="#">Ali Express</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card border-0">
            <div class="card-body d-flex justify-content-between">
              <p style="margin-bottom: 0 !important; margin-top: 5px">
                <span style="color: red">Waiting at Checkout?</span> Try this
                10% OFF code for faster Savings!
              </p>
              <button
                class="btn"
                style="
                  width: 170px;
                  background-color: #d6fffe;
                  border-color: #5ef9f8;
                "
              >
                CS
              </button>
            </div>
          </div>

          <% shop[0].coupon.map(function(coupon) {%>
          <div class="card border-0 mt-4">
            <div class="card-body">
              <div class="tag&batches d-flex justify-content-between">
                <div class="heads d-flex">
                  <h5 style="font-weight: bold">Best Code</h5>
                  <span
                    class="badge mt-1 ml-3"
                    style="
                      border-radius: 0;
                      height: fit-content;
                      background-color: #6a00e9;
                      color: white;
                      line-height: normal;
                    "
                    >Exclusive</span
                  >
                </div>
                <div class="verify&code d-flex justify-content-between">
                  <div class="mr-5">
                    <i
                      class="fas fa-check-circle"
                      style="color: yellowgreen"
                    ></i>
                    <span>Verified</span>
                  </div>
                  <div style="color: red">Code</div>
                </div>
              </div>
              <div
                class="d-flex mt-4 justify-content-between align-items-center"
              >
                <h6 class="mt-1">
                  <%= shop[0].name %> Coupon: <%= coupon.couponDetails %> +
                  Extra 10% OFF On Every Purchase
                </h6>
                <button
                  class="btn"
                  style="background-color: #00aebf; color: white"
                  data-container="body"
                  data-toggle="popover"
                  data-placement="right"
                  data-content="<%= coupon.coupon %>"
                >
                  Show Coupon >
                </button>
              </div>
            </div>
            <hr style="width: auto" />
            <div>
              <p>
                <a
                  style="width: 100%; text-align: start"
                  class="btn"
                  data-toggle="collapse"
                  href="#<%= coupon.coupon %>"
                  role="button"
                  aria-expanded="false"
                  aria-controls="<%= coupon.coupon %>"
                >
                  <span style="color: #e3e3e3"
                    >Show Details <i class="fas fa-angle-down"></i
                  ></span>
                </a>
              </p>
              <div class="collapse" id="<%= coupon.coupon %>">
                <div class="card card-body"><%= coupon.moreDetails %></div>
              </div>
            </div>
          </div>
          <%})%>

          <!-- <div class="card border-0 mt-4">
            <div class="card-body">
              <div class="tag&batches d-flex justify-content-between">
                <div class="heads d-flex">
                  <h5 style="font-weight: bold">Best Code</h5>
                  <span
                    class="badge mt-1 ml-3"
                    style="
                      border-radius: 0;
                      height: fit-content;
                      background-color: #6a00e9;
                      color: white;
                      line-height: normal;
                    "
                    >Exclusive</span
                  >
                </div>
                <div class="verify&code d-flex justify-content-between">
                  <div class="mr-5">
                    <i
                      class="fas fa-check-circle"
                      style="color: yellowgreen"
                    ></i>
                    <span>Verified</span>
                  </div>
                  <div style="color: red">Code</div>
                </div>
              </div>
              <div
                class="d-flex mt-4 justify-content-between align-items-center"
              >
                <h6 class="mt-1">
                  "Company" Coupon: Upto 70% OFF + Extra 10% OFF On Every
                  Purchase
                </h6>
                <button
                  class="btn"
                  style="background-color: #00aebf; color: white"
                >
                  Show Coupon >
                </button>
              </div>
            </div>
            <hr style="width: auto" />
            <div>
              <p>
                <a
                  style="width: 100%; text-align: start"
                  class="btn"
                  data-toggle="collapse"
                  href="#collapseExample"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  <span style="color: #e3e3e3"
                    >Show Details <i class="fas fa-angle-down"></i
                  ></span>
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. Nihil anim keffiyeh
                  helvetica, craft beer labore wes anderson cred nesciunt
                  sapiente ea proident.
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Get In Touch start-->

    <div class="row m-5">
      <div class="col-md-12">
        <div>
          <h4 style="text-align: center; font-weight: bold">Get In Touch</h4>
        </div>

        <div>
          <p style="text-align: center">
            For all partnership queries & details, please click delow
          </p>
        </div>

        <div style="text-align: center">
          <button type="button" class="btn btn-info btn-lg">Contact Us</button>
        </div>
      </div>
    </div>
    <!-- Get In Touch start-->
    <!-- main body end -->

    <!-- footer strat -->
    <!-- Footer -->
    <footer
      class="page-footer font-small unique-color-dark"
      style="background-color: #ffffff"
    >
      <div>
        <div class="container">
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <!-- Facebook -->
              <a class="fb-ic" href="#">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic" href="#">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic" href="#">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic" href="#">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic" href="#">
                <i class="fab fa-instagram white-text"> </i>
              </a>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>
      <hr />

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">
            <!-- Content -->
            <h4 class="font-weight-bold">CouponSit</h4>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              Here you can use rows and columns to organize your footer content.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="#!">All Stores</a>
            </p>
            <p>
              <a href="#!">Catagories</a>
            </p>
            <p>
              <a href="#!">Bank Offers</a>
            </p>
            <p>
              <a href="#!">Exclusive Coupons</a>
            </p>
            <p>
              <a href="#!">Blog</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Stores</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="#!">GAP Coupons</a>
            </p>
            <p>
              <a href="#!">Nissnass Coupons</a>
            </p>
            <p>
              <a href="#!">Shein Coupons</a>
            </p>
            <p>
              <a href="#!">Homebox Coupons</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Information</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a href="#!">About Us</a>
            </p>
            <p>
              <a href="#!">Help</a>
            </p>
            <p>
              <a href="#!">Privacy</a>
            </p>
            <p>
              <a href="#!">Terms</a>
            </p>
            <p>
              <a href="#!">Contact Us</a>
            </p>
            <p>
              <a href="#!">Partnership</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/"> CouponSit.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <!-- footer end -->

    <!-- next page's STORE mega navigation code start-->
    <script>
      var dropdown_down_menu = document.getElementById("dropdown-menu-id-nextPage");

      const shopList = async () => {
        const res = await fetch("http://localhost:8081/allStoresNew");
        const allShop  = await res.json();
        const dropdowns = allShop.slice(0,8)
          .map(
            (shop) =>
              `       
                        <div class="col-md-4 single__shop mx-1 mb-2">
                          <a class="dropdown-item mega-navItem-background" href="/singleShop/${shop._id}">
                            <div
                              class="d-flex justify-content-around align-items-center"
                              style="margin-top: -5px"
                              
                            >
                              <div
                                class="single__shop__logo d-flex mx-2 justify-content-center align-items-center"
                              >
                                <img
                                  class=""
                                  style="width: 80px; height: 50px"
                                  src="${shop.image}"
                                />
                              </div>
                              <div class="single__shop__details p-2">
                                <div> ${shop.name}</div>
                                <div>
                                  <span class="text-success"
                                    ><small
                                      >${shop.coupon[0].couponDetails}</small
                                    ></span
                                  >
                                </div>
                                <div class="text-secondary">
                                  <span>
                                    <small
                                      >${shop.coupon.length} offers</small
                                    ></span
                                  >
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        
              `
              
          )
          
          .join("");
          
        dropdown_down_menu.innerHTML = dropdowns;
        const viewAll = document.createElement("a");
        viewAll.setAttribute("href","/allStores")
        viewAll.innerText("See All")
        dropdown_down_menu.append(viewAll);
      };
      shopList();

    </script>
    <!-- Next pages's STORE mega navigation's code ends  -->

    <!-- Next page's CATEGORY mega navigation's code starts -->
    <script>
      const dropdownId = document.getElementById("dropdownCategory");
      const categoriesList = async () => {
        const res = await fetch("https://couponsite2020.herokuapp.com/categoriesIndex");
        const categories = await res.json();
        const dropdowns = categories
          .map(
            (category) =>
              `<a class="dropdown-item" href="/singleCategory/${category._id}">${category.name}</a>`
          )
          .join("");
        dropdownId.innerHTML = dropdowns;
      };
      categoriesList();
    </script>
    <!-- Next page's CATEGORY mega navigation's code ends -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {});
    </script>

    <script>
      $(function () {
        $('[data-toggle="popover"]').popover();
      });
    </script>
  </body>
</html>
